/* PRODUCT */

.season-product{
background: url(../images/season_product_bg.jpg);
}

.season-product .inner {
  height: 400px;
}

.season-product .floating3{
  position: absolute;
  top :-200px;
  right: 0;
}

.season-product .text-group{
  position: absolute;
  top: 110px;
  right: 100px;
} 

.season-product .text-group .title{
  margin-bottom: 10px;
}

.season-product .text-group .description{
  margin-bottom: 15px;
}

.season-product .text-group .more{

}

/* reserve-coffee */

.reserve-coffee{
  background: url("../images/reserve_bg.jpg");
}

.reserve-coffee .inner {
  height: 400px;
} 

.reserve-coffee .reserve-logo{
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .text-group{
  position: absolute;
  top:124px;
  left:208px;
}

.reserve-coffee .product{
  position: absolute;
  top: 0;
  right: 0;
}


/* PICK YOUR FAVORITE */

.pick-your-favorite{
  background: url("../images/favorite_bg.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .text-group{
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.pick-your-favorite .text-group .title{
  margin-bottom: 40px;
}

.pick-your-favorite .text-group .description{
  margin-bottom: 40px;
}


.reserve-store{
  background: url("../images/reserve_store_bg.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.reserve-store .medal{
  display : inline-block;
  perspective: 340px;
}


.reserve-store .medal .front,
.reserve-store .medal .back{
  width: 334px;
  height: 334px;
  backface-visibility : hidden; 
  transition: 1s;
}

.reserve-store .medal .front{
  position: absolute;
  transform: rotateY(0deg);
}

.reserve-store .medal:hover .front{
  transform: rotateY(180deg);
}

.reserve-store .medal .back{
  transform: rotateY(-180deg);
}


.reserve-store .medal:hover .back{
  transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  margin: auto;
}


/* FIND STORE */
.find-store {
  background: url("../images/find_store_bg.jpg");
}

.find-store .inner{
  height: 400px;
}

.find-store .texture1{
  position: absolute;
  top: 0;
  left: 400px;
}

.find-store .texture2{
  position: absolute;
  bottom: 0;
  right: 0;
}

.find-store .picture {
  position: absolute;
  border-radius: 50%; 
  box-shadow: 2px 2px 8px rgba(0,0,0 , 0.5);
}

.find-store .picture.picture1 {
  top: -60px;
  left: 0;
}

.find-store .picture.picture2 {
  top: 150px;
  left: 250px;
}

.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px; 
}

.find-store .text-group .title {
  margin-bottom: 20px;
}

.find-store .text-group .description {
  margin-bottom: 20px;
}


.awards {
  background-color: #272727;
}

.awards .inner {
  padding: 40px 0;
}

.awards .swiper-container{
  width: 100%;
  height: 40px;
}

.awards .swiper-prev,
.awards .swiper-next{
  width: 42px;
  height: 42px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity:.3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.awards .swiper-prev{
  left: -100px;
}

.awards .swiper-next{
  right : -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover{
  background-color: #fff;
  color: #333;
}